#Zadanie 1

##Utwórz kopię pliku na swoim dysku google. Zmień nazwę na R_Zadanie_1_imię_nazwisko.jpynb

Analiza dotyczy zbioru danych, który zawiera informacje na temat batonów czekoladowych.\
Zmiennne:
* nazwa firmy produkującej batony czekoladowe
* pochodzenie ziaren kakaowych lub nazwa batonu
* numer referencyjny
* rok przeglądu
* procentowa zawartość kako w czekoladzie
* lokalizacja firmy produkującej czekoladę
* ocena batonu czekoladowego
* pochodzenie ziaren kakaowca

System oceny smaków kakao:\
5= Elita (Przekraczanie poza zwykłe granice)\
4= Premium (Doskonały rozwój smaku, charakteru i stylu)\
3 = zadowalający (3,0) do godnego pochwały (3,75) (dobrze wykonany, o specjalnych właściwościach)\
2= Rozczarowujący (Zadowalający, ale zawiera co najmniej jedną istotną wadę)\
1= Nieprzyjemny (przeważnie niesmaczny)\
REF – wartość powiązana z datą wprowadzenia recenzji do bazy danych. Wyższy = nowszy.

##Wczytaj zbiór danych znajdujący sie pod adresem:
https://raw.githubusercontent.com/clauswilke/dviz.supp/master/data-raw/cacao/flavors_of_cacao.csv

In [136]:
url <- "https://raw.githubusercontent.com/clauswilke/dviz.supp/master/data-raw/cacao/flavors_of_cacao.csv"
df <- read.csv(url)
head(df)

  Company...Maker.if.known. Specific.Bean.Origin.or.Bar.Name REF  Review.Date
1 A. Morin                  Agua Grande                      1876 2016
2 A. Morin                  Kpime                            1676 2015
3 A. Morin                  Atsane                           1676 2015
4 A. Morin                  Akata                            1680 2015
5 A. Morin                  Quilla                           1704 2015
6 A. Morin                  Carenero                         1315 2014
  Cocoa.Percent Company.Location Rating Bean.Type Broad.Bean.Origin
1 63%           France           3.75             Sao Tome
2 70%           France           2.75             Togo
3 70%           France           3.00             Togo
4 70%           France           3.50             Togo
5 70%           France           3.50             Peru
6 70%           France           2.75   Criollo   Venezuela

## Zaimportuj pakiet Tidiverse

In [137]:
library(tidyverse)

## Przygotowanie danych

Wczytaj dane zmieniając nazwy kolumn na:\
'Company', 'Specific_Bean_Origin_or_Bar_Name', 'REF','Review_Date', 'Cocoa_Percentage', 'Company_Location','Rating', 'Bean_Type', 'Broad_Bean_Origin'

In [138]:
names(df) <- c("Company", "Specific_Bean_Origin_or_Bar_Name", "REF", "Review_Date", "Cocoa_Percentage", "Company_Location", "Rating", "Bean_Type", "Broad_Bean_Origin")

Wyświtl "kształt" zbioru - liczba wierszy i kolumn

In [139]:
cat("Liczba wierszy:", nrow(df), "\n")
cat("Liczba kolumn:", ncol(df), "\n")

Liczba wierszy: 1795
Liczba kolumn: 9

Wyświetl strukturę zbioru danych (nazwy zmiennych
, typ danych, ...)

In [140]:
str(data)

'data.frame':	1795 obs. of  9 variables:
 $ Company                         : chr  "A. Morin" "A. Morin" "A. Morin" "A. Morin" ...
 $ Specific_Bean_Origin_or_Bar_Name: chr  "Agua Grande" "Kpime" "Atsane" "Akata" ...
 $ REF                             : int  1876 1676 1676 1680 1704 1315 1315 1315 1319 1319 ...
 $ Review_Date                     : int  2016 2015 2015 2015 2015 2014 2014 2014 2014 2014 ...
 $ Cocoa_Percentage                : chr  "63" "70" "70" "70" ...
 $ Company_Location                : chr  "France" "France" "France" "France" ...
 $ Rating                          : num  3.75 2.75 3 3.5 3.5 2.75 3.5 3.5 3.75 4 ...
 $ Bean_Type                       : chr  " " " " " " " " ...
 $ Broad_Bean_Origin               : chr  "Sao Tome" "Togo" "Togo" "Togo" ...

Usuń znak "%" w zmiennej procent Cocoa_Percentage - ustaw odpowiednio typ danej

In [141]:
df$Cocoa_Percentage <- gsub("%", "", df$Cocoa_Percentage)
head(df)

  Company  Specific_Bean_Origin_or_Bar_Name REF  Review_Date Cocoa_Percentage
1 A. Morin Agua Grande                      1876 2016        63
2 A. Morin Kpime                            1676 2015        70
3 A. Morin Atsane                           1676 2015        70
4 A. Morin Akata                            1680 2015        70
5 A. Morin Quilla                           1704 2015        70
6 A. Morin Carenero                         1315 2014        70
  Company_Location Rating Bean_Type Broad_Bean_Origin
1 France           3.75             Sao Tome
2 France           2.75             Togo
3 France           3.00             Togo
4 France           3.50             Togo
5 France           3.50             Peru
6 France           2.75   Criollo   Venezuela

Sprawdź ile jest braków w zbiorze danych

In [142]:
braki_w_kolumnach <- sum(!grepl("^[a-zA-Z0-9]", df$Bean_Type))
cat("Liczba braków w kolumnie 'Bean_Type':", braki_w_kolumnach, "\n")

braki_w_kolumnach2 <- sum(!grepl("^[a-zA-Z0-9]", df$Broad_Bean_Origin))
cat("Liczba braków w kolumnie 'Broad_Bean_Origin':", braki_w_kolumnach2, "\n")

ogolna_liczba_brakow <- sum(is.na(df))

Liczba braków w kolumnie 'Bean_Type': 888
Liczba braków w kolumnie 'Broad_Bean_Origin': 74

Wyświetl nazwy kolumn, w których występują braki

In [143]:
df <- mutate_all(df, as.character)

braki_w_kolumnach <- colSums(is.na(df) | df == "")
nazwy_kolumn_z_brakami <- names(braki_w_kolumnach[braki_w_kolumnach > 0])
print(nazwy_kolumn_z_brakami)

[1] "Bean_Type"         "Broad_Bean_Origin"

Usun cały wiersz, dla którego zmienna Broad_Bean_Origin zawiera brakujące dane

In [144]:
df_clean <- df[complete.cases(df$Broad_Bean_Origin), ]

head(df_clean)

  Company  Specific_Bean_Origin_or_Bar_Name REF  Review_Date Cocoa_Percentage
1 A. Morin Agua Grande                      1876 2016        63
2 A. Morin Kpime                            1676 2015        70
3 A. Morin Atsane                           1676 2015        70
4 A. Morin Akata                            1680 2015        70
5 A. Morin Quilla                           1704 2015        70
6 A. Morin Carenero                         1315 2014        70
  Company_Location Rating Bean_Type Broad_Bean_Origin
1 France           3.75             Sao Tome
2 France           2.75             Togo
3 France           3                Togo
4 France           3.5              Togo
5 France           3.5              Peru
6 France           2.75   Criollo   Venezuela

Wykonaj tabelę liczności dla zmiennej Bean_Type

In [145]:
 table(data$Bean_Type)

                                                                    Amazon
                       1                      887                        1
              Amazon mix              Amazon, ICS                  Beniano
                       2                        2                        3
                   Blend  Blend-Forastero,Criollo                    CCN51
                      41                        1                        1
                 Criollo         Criollo (Amarru)     Criollo (Ocumare 61)
                     153                        2                        2
    Criollo (Ocumare 67)     Criollo (Ocumare 77)        Criollo (Ocumare)
                       1                        1                        1
     Criollo (Porcelana)           Criollo (Wild)               Criollo, +
                      10                        1                        1
      Criollo, Forastero      Criollo, Trinitario                      EET
                       2                       39                        3
               Forastero    Forastero (Amelonado)       Forastero (Arriba)
                      87                        1                       37
  Forastero (Arriba) ASS  Forastero (Arriba) ASSS      Forastero (Catongo)
                       6                        1                        2
    Forastero (Nacional)    Forastero (Parazinho)    Forastero, Trinitario
                      52                        8                        1
  Forastero(Arriba, CCN)                   Matina                 Nacional
                       1                        3                        2
       Nacional (Arriba)               Trinitario Trinitario (85% Criollo)
                       3                      419                        2
  Trinitario (Amelonado)     Trinitario (Scavina)      Trinitario, Criollo
                       1                        1                        9
   Trinitario, Forastero     Trinitario, Nacional         Trinitario, TCGA
                       2                        1                        1

Spróbuj wyfiltrowac "puste" komórki dla zmiennej Bean_Type i zamienić je na NA

In [146]:
df <- df %>% filter(!is.na(Bean_Type))

Usuń kolumnę Bean_Type

In [147]:
df <- df %>% select(-Bean_Type)

head(df)

  Company  Specific_Bean_Origin_or_Bar_Name REF  Review_Date Cocoa_Percentage
1 A. Morin Agua Grande                      1876 2016        63
2 A. Morin Kpime                            1676 2015        70
3 A. Morin Atsane                           1676 2015        70
4 A. Morin Akata                            1680 2015        70
5 A. Morin Quilla                           1704 2015        70
6 A. Morin Carenero                         1315 2014        70
  Company_Location Rating Broad_Bean_Origin
1 France           3.75   Sao Tome
2 France           2.75   Togo
3 France           3      Togo
4 France           3.5    Togo
5 France           3.5    Peru
6 France           2.75   Venezuela

Dodaj do ramki danych nową kolumnę, która będzie zawierała informajce czy dana czekolada jest gorzka czy nie? W tym celu wykorzystaj zmienną Cocoa_Percentage.

In [148]:
df$czy_gorzka <- ifelse(df$Cocoa_Percentage >= 65, "tak", "nie")

head(df)

  Company  Specific_Bean_Origin_or_Bar_Name REF  Review_Date Cocoa_Percentage
1 A. Morin Agua Grande                      1876 2016        63
2 A. Morin Kpime                            1676 2015        70
3 A. Morin Atsane                           1676 2015        70
4 A. Morin Akata                            1680 2015        70
5 A. Morin Quilla                           1704 2015        70
6 A. Morin Carenero                         1315 2014        70
  Company_Location Rating Broad_Bean_Origin czy_gorzka
1 France           3.75   Sao Tome          nie
2 France           2.75   Togo              tak
3 France           3      Togo              tak
4 France           3.5    Togo              tak
5 France           3.5    Peru              tak
6 France           2.75   Venezuela         tak

## Zapisywanie plików

Wyczyszczoną ramkę danych zapisz do pliku csv o nazw new_cocoa_imie_nazwisko.csv. Pobierz plik na dysk i dołącz do zadania na upel razem z plikiem zaiwerającym wszystkie przeprowadzone analizy (R_Zadanie_1_imię_nazwisko.jpynb)

In [151]:
write.csv(df, file = "new_cocoa_Katarzyna_Madej.csv", row.names = FALSE)